Repository voxpupuli/beaker_puppet_helpers, pull requests merged in 2023-06, with the labels that each got.

#27 Add support for `--show_diff`
  lib/beaker_puppet_helpers/dsl.rb
  spec/beaker_puppet_helpers/dsl_spec.rb
Labels: enhancement

#28 Release 1.1.0
  CHANGELOG.md
  README.md
  beaker_puppet_helpers.gemspec
Labels: skip-changelog

#32 fix typo in EL package selection
  lib/beaker_puppet_helpers/install_utils.rb
Labels: bug

#34 Release 1.1.1
  CHANGELOG.md
  beaker_puppet_helpers.gemspec
Labels: skip-changelog
